    <div class="navbar">
        <ul class="navBar">
            <li class="nav-item" >
                <a href="/" class="tab <%= path === '/' ? 'active' : '' %>">خانه</a>
            </li>
            <li class="nav-item">
                <a href="" class="tab">محصولات</a>
            </li>
            <li class="nav-item">
                <a href="" class="tab">سبد خرید</a>
            </li>
            <li class="nav-item">
                <a href="" class="tab" >سفارشات</a>
            </li>
            <li class="nav-item">
                <a href="/admin/add_product" class="tab <%= path === '/admin/add_product' ? 'active' : '' %>">افزودن محصول</a>
            </li>
            <li class="nav-item">
                <a href="/admin/edit-products" class="tab" <%= path ===  '/admin/edit-products' ? 'active' : '' %> >محصولات ادمین</a>
            </li class="nav-item">
        </ul>
    </div>