 body {
     margin: 0;
     font-family: sans-serif;
     background: #f4f4f4;
     box-sizing: border-box;
     
 }

 /* هدر */
 .header {
     background: #fff;
     padding: 20px;
     display: flex;
     align-items: center;
     border-bottom: 1px solid #ddd;
 }

 .header img {
     width: 80px;
     height: 80px;
     margin-left: 20px;
     object-fit: cover;
 }

 .header-title {
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .header-title h1 {
     position: absolute;
     margin: auto;
     right: 10px;
     font-size: 26px;
     font-weight: bold;
 }

 .header-title p {
     position: absolute;
     margin: 5px 0 0 0;
     right: 10px;
     top: 120px;
     margin-right: 0;

     color: #ffffff;
 }

 /* نوار لینک */
 .navbar {
     background: #666666;
     padding: 10px 20px;
     text-align: right;
     font-size: 14px;
     height: 30px;
 }

 /* محصول */
 .product-container {
     width: 250px;
     margin: 40px auto;
     background: white;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     padding: 15px;
     text-align: center;
 }

 .product-container h3 {
     margin-top: 0;
     margin-bottom: 15px;
 }

 .product-container img {
     max-width: 240px;
     height: 220px;
     object-fit: cover;
     border-radius: 10px;
 }
 .all_product_countainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }
 .product_description{
    align-content: center;
    margin-bottom: 7px;
 }
 
.container{
    padding: 30px;
    display: flex;
    flex-direction: column;
     align-items: center;
     justify-items: center;
}
.form-control{
    border-color: #aaaaaa;
    box-shadow: #858585;
    border-radius: 5px;
    height: 30px;
    width: 400px;
    display: flex;
}

.btn-primary{
    margin-top: 15px;
}

.price {
     font-size: 20px;
     margin: 5px 0;
     font-weight: bold;
     color: #333;
 }

#description{
    display: block;
    margin-top: 15px;
    width: 400px;
    height: 50px;
}

 .btn {
     padding: 10px 15px;
     background: #2196F3;
     color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     margin: auto;
     margin-right: 10px;
 }

 .btn:hover {
     background: #0d78d1;
 }

 /* هدر جدید با تصویر بک‌گراند */
 .header {
     width: 100%;
     height: 200px;
     background-image: url("/img/banner-1544x500.png");
     background-size: cover;
     /* تصویر کامل بخش را پوشش می‌دهد */
     background-position: center;
     /* وسط قرار می‌گیرد */
     display: flex;
     flex-direction: column;
     justify-content: center;
     /* متن وسط عمودی */
     align-items: flex-end;
     /* متن سمت راست قرار می‌گیرد */
     padding: 20px 40px;
     color: #fff;
     box-sizing: border-box;
     text-shadow: 0 0 5px #000;
     /* خوانایی متن روی تصویر */
 }

 .header h1 {
     font-size: 32px;
     margin: 0;
     font-weight: bold;

 }

 .header p {
     margin: 5px 0 0 0;
     font-size: 16px;
 }

 .navBar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
 }
 .navbar{
    align-items: center;
    align-content: center;
 }

 .nav-item{
    margin-left: 15px;
    margin-right: 15px;
    list-style: none;
 }
.tab{
    color:black;
    all: unset;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    
}

.btn-container{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}

.cart-btn{
    height: 40px;
    font-size: 17px;
}

.btn a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
    font-size: 17px;
    
    
}
.btn a:hover{
    color: #000;
}

.btn-edit{
    background-color: rgb(212, 216, 2);
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-edit a{
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
    font-size: 17px;
}

.btn-edit a:hover{
    color: #000;
}

.btn-remove{
    background-color: rgb(235, 2, 2);
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-remove a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
    font-size: 17px;
}

.btn-remove a:hover{
    color: #000;
}

.product-detail {
    max-width: 900px;
    margin: 60px auto;
    background-color: #fff;
    padding: 30px;
    display: flex;
    gap: 40px;
    border-radius: 8px;
    box-shadow: #000 4px;
}

/* LEFT SIDE */
.product-info {
    flex: 1;
}

.product-title {
    font-size: 28px;
    margin-bottom: 15px;
}

.product-price {
    font-size: 22px;
    color: #2ecc71;
    margin-bottom: 25px;
}

.product-description h3 {
    margin-bottom: 10px;
}


/* RIGHT SIDE */
.product-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image img {
    max-width: 100%;
    border-radius: 6px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .product-detail {
        flex-direction: column;
        text-align: center;
    }
}


/* حالت عادی لینک‌ها */
.nav-item a {
    color: rgba(255, 255, 255, 0.6); /* سفید کم‌رنگ */
    text-decoration: none;
    transition: color 0.2s ease;
}

/* وقتی موس روش میره */
.nav-item a:hover {
    color: #ffffff; /* سفید پررنگ */
}

/* وقتی آیتم فعال است */
.nav-item a.active {
    color: #ffffff; /* سفید پررنگ */
    font-weight: 600;
}