    <!-- head -->
<%- include('../includes/head.ejs') %>
    <!-- header -->
<%- include('../includes/heading.ejs') %>
    <!-- link -->
<%- include('../includes/navigation.ejs') %>


<main>
    <ul class="cart__item-list">
        <li class="cart__item">
            <div>
                <img src="" class="img-thumbnail" alt="">
            </div>
            <h1>عنوان محصول</h1>
            <h2>1</h2>
            <form action="">
                <button class="btn-remove">حذف</button>
            </form>
        </li>
    </ul>
</main>



    <!-- end html -->
<%- include('../includes/end.ejs') %>